<div class="cover-page-backdrop">
  <div class="signup-form-container">
    <%= image_tag 'logo.png' %>
    <form action="<%= session_url %>" method="POST" role="form">
      <%= csrf_token %>

      <div class="unpadded-input-group">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="user-email"
                 name="user[email]"
                 placeholder="Email"
                 value="<%= @user.email %>">
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="user-password"
                 placeholder="Password"
                 name="user[password]">
        </div>
      </div>

      <button type="submit"
              class="btn btn-primary form-control">Sign in</button>
    </form>
    
    <%= button_to 'Sign in as guest',
                session_guest_url,
                method: :get,
                class: 'form-control btn btn-success' %>
  </div>
  
  <div class="cover-search-container">
    <%= render 'partials/search_field' %>
  </div>

  <div class="signup-button-container">
    <%= link_to 'Sign up',
                new_user_url,
                class: 'btn btn-primary' %>
    <%= link_to 'About us',
                about_url,
                class: 'btn btn-primary' %>
    <%= link_to "I'm feeling lucky",
                lucky_url,
                class: 'btn btn-info',
                id: 'lucky-button' %>
  </div>
</div>