<% action = (blog.persisted? ? blog_url(blog) : blogs_url) %>
<% method = (blog.persisted? ? 'PATCH' : 'POST') %>
<% formname = (blog.persisted? ? 'Update Blog' : 'New Blog') %>

<h1><%= formname %></h1>
<form action="<%= action %>" method="POST" role="form">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= csrf_token %>
  <div class="form-group">
    <label for="blog-title">Title</label>
    <input type="text"
           class="form-control"
           id="blog-title"
           name="blog[title]"
           value="<%= blog.title %>"
           placeholder="Allons-y, Alonso!">
  </div>

  <div class="form-group">
    <label for="blog-url">Blog URL</label>
    <input type="text"
           class="form-control"
           id="blog-url"
           name="blog[url]"
           placeholder="alonso (http://allons-y.com/alonso)"
           value="<%= blog.url %>">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>