<div class="centered-content">
  <%= render "partials/top_nav" %>
  <%= render "partials/errors" %>
</div>

<div class="backdrop container-fluid">
  <div class="center-wrapper clearfix">
    <div id="content-panel">
      <h1>Followers of <%= @blog.title %></h1>
      
      <hr style="margin-top: 10px">
      
      <div class="followers">
        <% @blog.followers.each do |follower| %>
          <%= render 'users/tile', user: follower %>
        <% end %>
      </div>
    </div>
    <div class="side-panel">
      <%= render 'info_panel', blog: @blog %>
    </div>
  </div>
</div>