<ul class="nav nav-stacked dash-nav">
  <li>
    <h3><%= current_user.username %></h3>
  </li>
  <hr>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="glyphicon glyphicon-th-list"></span>
      My Blogs <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% current_user.blogs.each do |blog| %>
        <li>
          <%= link_to blog_url(blog) do %>
            <strong><%= blog.url %> (owner)</strong>
          <% end %>
        </li>
      <% end %>
      
      <% current_user.member_blogs.each do |blog| %>
        <li>
          <%= link_to blog_url(blog) do %>
            <strong><%= blog.url %></strong>
          <% end %>
        </li>
      <% end %>
      
      <li class="divider"></li>
      
      <li>
        <%= link_to new_blog_url do %>
          <span class="glyphicon glyphicon-plus"></span> New Blog
        <% end %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="glyphicon glyphicon-eye-open"></span>
      Following <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% current_user.followed_blogs.each do |blog| %>
        <% if blog.persisted? %>
          <li>
            <%= link_to blog_url(blog) do %>
              <strong><%= blog.url %></strong>
            <% end %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>