<ul class="nav nav-stacked dash-nav">
  <li>
    <h3><%= current_user.username %></h3>
  </li>
  <hr>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      My Blogs <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% if current_user.blogs.length > 0 %>
        <% current_user.blogs.each do |blog| %>
          <% if blog.persisted? %>
            <li style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%">
              <a href="/#blogs/<%= blog.url %>">
                <strong><%= blog.url %></strong>
              </a>
            </li>
          <% end %>
        <% end %>
        <li class="divider"></li>
      <% end %>
      <li>
        <%= link_to new_blog_url do %>
          <span class="glyphicon glyphicon-plus"></span> New Blog
        <% end %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Following <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% current_user.followed_blogs.each do |blog| %>
        <% if blog.persisted? %>
          <li style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%">
            <a href="/#blogs/<%= blog.url %>">
              <strong><%= blog.url %></strong>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>