<nav class="navbar custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_url do %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= link_to root_url do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li>
          <%= link_to root_url do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </li>
        <li>
          <%= link_to session_url,
                      method: :delete do %>
            <span class="glyphicon glyphicon-off"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>