<nav class="navbar custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_url do %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    
    <div class="tab-bar">
      <% if logged_in? %>
        <div class="tab iconic" id="home-button">
          <%= link_to '/#' do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </div>
        <div class="tab iconic" id="profile-button">
          <%= link_to edit_user_url(current_user) do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </div>
        <div class="tab iconic" id="logout-button">
          <%= link_to session_url,
                      method: :delete do %>
            <span class="glyphicon glyphicon-off"></span>
          <% end %>
        </div>
      <% else %>
        <div class="tab iconic" id="login-button">
          <%= link_to new_session_url do %>
            <span class="glyphicon glyphicon-off"></span>
          <% end %>
        </div>
      <% end %>
      <div class="tab iconic ui-search">
        <%= render 'partials/search_field' %>
      </div> <!-- tab -->
    </div> <!-- tab-bar -->
  </div> <!-- container-fluid -->
</nav>