<nav class="navbar custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_url do %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    
    <div class="tab-bar">
      <div class="tab iconic" id="home-button">
        <%= link_to root_url do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </div>
      <div class="tab iconic" id="settings-button">
        <%= link_to root_url do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <div class="tab iconic" id="logout-button">
        <%= link_to session_url,
                    method: :delete do %>
          <span class="glyphicon glyphicon-off"></span>
        <% end %>
      </div>
      <div class="tab iconic ui-search">
        <form action="<%= new_search_url %>" method="POST">
          <%= csrf_token %>
          <div class="search-row">
            <input type="text"
                   id="search-query"
                   name="search_query"
                   placeholder="Search Flux-capacitr"
                   autocomplete="off"></input>
          </div>
        </form>
      </div> <!-- tab -->
    </div> <!-- tab-bar -->
  </div> <!-- container-fluid -->
</nav>