<div class="panel panel-primary post-container">
  <% if (displayAvatar) { %>
    <div class="post-avatar">
      <a href="<%= post.escape('author').url %>"
         class="post-avatar-link"
         style="background-image: url(<%= post.escape('author').avatar_url %>)">
      </a>
    </div>
  <% } %>

  <div class="panel-heading">
    <a href="#blogs/<%= post.escape('blog_id') %>" class="panel-title">
      <%= post.escape('blog_url') %>
    </a>
  </div>

  <div class="panel-body">
    <form class="post-edit">
      <div class="form-group">
        <input type="text"
               id="post-title"
               name="post[title]"
               class="form-control"
               placeholder="Title"
               value="<%= post.escape('title') %>">
      </div>

      <div class="form-group">
        <textarea id="post-body"
                  class="form-control"
                  data-provide="markdown"
                  name="post[body]"><%= post.escape('body') %></textarea>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-tag"></span>
          <input type="text"
                 id="post-tags"
                 class="form-control"
                 placeholder="#wibbly, #wobbly, #timey wimey"
                 <% if (post.has('tags')) { %>
                   value="<%= post.escape('tags').join(', ') %>"
                 <% } %>
                 name="post[tags]">
        </div>
      </div>

      <button type="submit"
              class="btn btn-success pull-left"
              id="commit-edit">Save</button>
      <button type="button"
              class="btn btn-danger pull-right"
              id="cancel-edit">Cancel</button>
    </form>
  </div>
</div>
