<div class="panel panel-primary post-container">
  <% if (displayAvatar) { %>
    <div class="post-avatar">
      <a href="/users/<%= post.author().escape('username') %>"
         class="post-avatar-link"
         style="background-image: url(<%= post.author().escape('avatar_url') %>)">
      </a>
    </div>
  <% } %>

  <div class="panel-heading clearfix">
    <a href="/blogs/<%= post.escape('blog_url') %>"
       class="panel-title pull-left">
      <%= post.escape('blog_url') %>
    </a>

    <div class="post-header-info pull-right">
      <a href="javascript:void(0)"
         id="like-toggle">
        <span class="glyphicon glyphicon-heart"></span>
        <%= post.escape('num_likes') %>
      </a>
    </div>
  </div>

  <div class="panel-body">
    <h3 style="margin-top: 0"><%= post.escape('title') %></h3>
    <%= markdown.toHTML(post.get('body') || '') %>

    <% if (post.tags() && post.tags().models.length > 0) { %>
      <div class="post-tags">
        <strong>Tags:</strong>
        <ul class="inline-list">
          <% post.tags().each(function (tag) { %>
            <li class="post-tag" data-tag="<%= tag %>">
              <a href="javascript:void(0)"><%= tag %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  </div>

  <div class="panel-footer post-footer clearfix">
  </div>
</div>
