<% button_text = @user.persisted? ? 'Update Profile' : 'Register' %>

<%= form_for @user do |f| %>
  <div class="unpadded-input-group">
    <div class="form-group">
      <%= f.email_field 'email',
                        class: 'form-control',
                        placeholder: 'Email' %>
    </div>
    
    <% unless @user.persisted? %>
      <div class="form-group">
        <%= f.password_field 'password',
                             class: 'form-control',
                             placeholder: 'Password' %>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.text_field 'username',
                       class: 'form-control',
                       placeholder: 'Username' %>
    </div>
    
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-picture"></span>
        <%= f.filepicker_field :avatar_url,
                             button_text: 'Upload Avatar (optional)',
                             button_class: 'form-control', 
                             placeholder: 'Avatar URL',
                             services: 'COMPUTER, IMAGE_SEARCH, URL' %>
      </div>
    </div>
  </div>
  
  <%= f.submit button_text, class: 'btn btn-primary form-control' %>
<% end %>

<%= button_to 'Cancel',
              root_url,
              class: 'btn btn-info form-control',
              method: 'get' %>
