<div class="cover-page-backdrop">
  <div class="signup-form-container">
    <%= render 'partials/errors' %>
    <%= image_tag 'logo.png' %>
    <%= render 'form' %>
  </div>
  
  <div class="cover-search-container">
    <%= render 'partials/search_field' %>
  </div>

  <div class="signup-button-container">
    <%= link_to 'Sign in',
                new_session_url,
                class: 'btn btn-primary' %>
    <%= link_to 'About us',
                about_url,
                class: 'btn btn-primary' %>
  </div>
</div>