<style type="text/css">
  .cover-page-backdrop {
    background-image: url(<%= random_bg %>);
  }
</style>

<div class="cover-page-backdrop">
  <div class="signup-form-container">
    <%= image_tag 'logo.png' %>
    <%= render 'form' %>
  </div>
  
  <div class="cover-search-container">
    <%= render 'partials/search_field' %>
  </div>

  <div class="signup-button-container">
    <%= link_to 'Sign in',
                new_session_url,
                class: 'btn btn-primary' %>
    <%= link_to 'About us',
                about_url,
                class: 'btn btn-primary' %>
    <%= link_to "I'm feeling lucky",
                lucky_url,
                class: 'btn btn-info',
                id: 'lucky-button' %>
  </div>
</div>