<div class="centered-content">
  <%= render "partials/top_nav" %>
  <%= render "partials/errors" %>
</div>

<div class="backdrop container-fluid">
  <div class="center-wrapper clearfix">
    
    <div id="content-panel">
      <h1><%= @post.blog.title %></h1>
      
      <hr style="margin-top: 10px">
      
      <div class="blog-show">
        <div class="pull-right" style="width: 550px">
          <div class="posts"></div>
        </div>
      </div>
    </div>
    
    <div class="side-panel">
      <%= render 'blogs/info_panel', blog: @post.blog, action: 'posts' %>
    </div>
  </div>
</div>

<script>
  $(function () {
    var router = new Allonsy.BlogRouter({ $rootEl: $('.posts') });
    router.postShow(<%= @post.id %>);
  });
</script>