<!DOCTYPE html>
<html>
<head>
  <title>Allons-y!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="vendor/assets/stylesheets/bootstrap.css">
  <script src="vendor/assets/javascripts/bootstrap.js"></script>
</head>
<body>
  <%= render "partials/top_nav" %>
  
  <div class="container-fluid">
    <%= render "partials/errors" %>
    <%= yield %>
  </div>
  
</body>
</html>