<!DOCTYPE html>
<html>
<head>
  <title>Allons-y!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  


</head>
<body>
  <%= render "partials/top_nav" %>
  
  <%= render "partials/errors" %>
  <%= yield %>
  
</body>
</html>